@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./components/styles/buttons.css";
@import "./components/styles/header.css";
@import "./components/styles/body.css";
@import "./components/styles/footer.css";
@import "./components/styles/shop-container.css";
@import "./components/styles/trackorder.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
